/*********************************************************
INDEX
Imports
.container
.calculator
.screen
.numpad
.num-keys
.num-key
.operators
.operator
**********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
}

.calculator {
  display: grid;
  grid-template-rows: [screen] 20% [numpad] 1fr;
  grid-gap: 1rem;
  aspect-ratio: 3/4;
  max-width: 35rem; 
  width: 60vw;
  background-color: deepskyblue;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background-color: darkslategrey;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.2) -3px -3px 6px 1px inset;
  border-radius: 1.5rem;
  overflow-x: auto;
  padding: 1rem;
}

.screen p {
  width: auto;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3rem;
  text-align: right;
  color: white;
}

.numpad {
  display: grid;
  grid-template-columns: [num-keys] 80% [operators] 1fr;
  grid-gap: 1rem;
}

.num-keys {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  justify-items: center;
}

.num-key, .operator {
    text-align: center;
    aspect-ratio: 1/1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 0 auto;
    border-radius: 1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: clamp(1rem, 5vw, 3rem);
    user-select:none;
}

.num-key:hover, .operator:hover {
    cursor: pointer;
}

.num-key:active, .operator:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset;
}

.operators {
    display: grid;
    grid-template-rows: repeat(4, auto) 30%;
    grid-gap: 1rem;
}

.operator {
    aspect-ratio: initial;
}